/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

&led_strip {
    chain-length = <27>;
};

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |      |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  |      |
            // |      |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |      |
            // |      |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  |      |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&none  &kp Q        &kp W        &kp E           &kp R               &kp T         &kp Y          &kp U            &kp I      &kp O        &kp BACKSPACE    &none
&none  &kp A        &mt LCTRL S  &kp D           &mt LEFT_GUI F      &kp G         &kp H          &mt RIGHT_GUI J  &kp K      &mt RCTRL L  &kp P            &none
&none  &mt LSHFT Z  &kp X        &kp C           &kp V               &kp B         &kp N          &kp M            &kp COMMA  &kp DOT      &kp RIGHT_SHIFT  &none
                                 &kp LEFT_SHIFT  &mt LEFT_GUI ENTER  &kp ESCAPE    &kp BACKSPACE  &kp SPACE        &mo 1
            >;
        };

        symbols {
            // -----------------------------------------------------------------------------------------
            // |      |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  |      |
            // |      |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |      |
            // |      |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&none  &kp GRAVE  &kp N7  &kp N8  &kp N9  &trans    &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp MINUS  &kp EQUAL  &trans  &none
&none  &trans     &kp N4  &kp N5  &kp N6  &trans    &kp LBKT              &kp RBKT               &kp SEMI   &kp SQT    &trans  &none
&none  &trans     &kp N1  &kp N2  &kp N3  &trans    &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp BSLH   &kp FSLH   &trans  &none
                          &kp N0  &trans  &trans    &trans                &trans                 &trans
            >;
        };

        arrow-media {
            bindings = <
&trans  &trans  &kp PG_UP  &kp UP    &kp PG_DN  &trans    &trans  &kp K_MUTE              &trans  &kp C_PLAY             &trans  &trans
&trans  &trans  &kp LEFT   &kp DOWN  &kp RIGHT  &trans    &trans  &mt RIGHT_GUI C_VOL_DN  &trans  &mt RCTRL C_VOLUME_UP  &trans  &trans
&trans  &trans  &kp HOME   &trans    &kp END    &trans    &trans  &kp C_PREV              &trans  &kp C_NEXT             &trans  &trans
                           &trans    &trans     &trans    &trans  &trans                  &trans
            >;
        };

        nav {
            bindings = <
&trans  &trans             &kp LS(LC(TAB))    &trans         &kp LC(TAB)  &trans    &trans      &trans        &trans        &trans        &trans        &trans
&trans  &trans             &mt LCTRL LS(TAB)  &trans         &kp TAB      &trans    &bt BT_CLR  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &trans
&trans  &kp LS(LG(GRAVE))  &trans             &kp LG(GRAVE)  &trans       &trans    &trans      &trans        &trans        &trans        &trans        &trans
                                              &trans         &trans       &trans    &trans      &trans
            >;
        };
    };
};
